mixin block_products_slider(object)
    .block_products_slider&attributes(attributes)
        .container
            .block_products_slider-title.text-center.mb-60
                h2 Заголовок “карусели” товаров
            .block_products_slider__slider-wrapper
                .block_products_slider__slider
                    .block_products_slider__slider-item
                        +card({
                            img: `${baseDir}images/card/card1.jpg`,
                            name: 'Кофта из тонкого трикотажа с коротким рукавом и капюшоном',
                            tag: 'sale',
                            price: '34 658 руб.'
                        })
                    .block_products_slider__slider-item
                        +card({
                            img: `${baseDir}images/card/card2.jpg`,
                            name: 'Футболка с узором ручной рабооты',
                            tag: 'sale',
                            price: '34 658 руб.',
                            price_old: '34 658 руб.'
                        })
                    .block_products_slider__slider-item
                        +card({
                            img: `${baseDir}images/card/card3.jpg`,
                            name: 'Футболка с морским узором',
                            price: '34 658 руб.'
                        })
                    .block_products_slider__slider-item
                        +card({
                            img: `${baseDir}images/card/card4.jpg`,
                            name: 'Блуза свободного кроя с черно-белым принтом',
                            tag: 'Новые поступления'
                        })
                    .block_products_slider__slider-item
                        +card({
                            img: `${baseDir}images/card/card5.jpg`,
                            name: 'Топ трикотажный с длинной рукава до логтя',
                            coming_soon: true
                        })
                button.arrow.arrow-left.block_products_slider__slider--arrow.block_products_slider__slider--arrow--left
                    +svg('arrow-left')
                button.arrow.arrow-right.block_products_slider__slider--arrow.block_products_slider__slider--arrow--right
                    +svg('arrow-right')
                .progress-wrapper.block_products_slider__slider-progress
                    .progress(role="progressbar" aria-valuemin="0" aria-valuemax="100")


