mixin card(data)
    .card
        a(href="#").card-img.mb-12
            img(src=data.img)
        button.card-favorite.favorite-icon--btn
            +svg('favorite').favorite-icon
        .card__content
            div
                a(href="#").card__content-name !{data.name}
                if data.price
                    a(href="#").card__content-price.d-sm-none.mt-12
                        .card__content-price--current !{data.price}
                        if data.price_old
                            .card__content-price--old !{data.price_old}

                if data.tag
                    .card__content-tag.tag.mt-12 !{data.tag}
                if data.coming_soon
                    a(href="#").link.link-primary.link--big Узнать о поступлении
            if data.price
                a(href="#").card__content-price.d-none.d-sm-block
                    .card__content-price--current !{data.price}
                    if data.price_old
                        .card__content-price--old !{data.price_old}
        if data.sku
            .card-color.mt-12.menu-item
                <span>Цвет:</span> Оливковый
            select(placeholder="Выберите размер").select.mt-12.mb-6
                option
                option Описание инпута 1
                option Описание инпута 2
                option Описание инпута 3
                option Описание инпута 4
                option Описание инпута 5
            a(href="#").btn.btn-primary.card-add2cart В корзину


