main.pt-60
    .container
        .text-center.mb-60
            h1.h2 Результаты поиска “Сви”
        .row.row-cols-2.row-cols-sm-2.row-cols-lg-3.mb-120
            div.catalog-item
                +card({
                    img: `${baseDir}images/card/card1.jpg`,
                    name: 'Кофта из тонкого трикотажа с коротким рукавом и капюшоном',
                    tag: 'sale',
                    price: '34 658 руб.'
                })
            div.catalog-item
                +card({
                    img: `${baseDir}images/card/card2.jpg`,
                    name: 'Футболка с узором ручной рабооты',
                    tag: 'sale',
                    price: '34 658 руб.',
                    price_old: '34 658 руб.'
                })
            div.catalog-item
                +card({
                    img: `${baseDir}images/card/card3.jpg`,
                    name: 'Футболка с морским узором',
                    price: '34 658 руб.'
                })
            div.catalog-item
                +card({
                    img: `${baseDir}images/card/card4.jpg`,
                    name: 'Блуза свободного кроя с черно-белым принтом',
                    tag: 'Новые поступления'
                })
            div.catalog-item
                +card({
                    img: `${baseDir}images/card/card5.jpg`,
                    name: 'Топ трикотажный с длинной рукава до логтя',
                    coming_soon: true
                })
            div.catalog-item
                +card({
                    img: `${baseDir}images/card/card1.jpg`,
                    name: 'Кофта из тонкого трикотажа с коротким рукавом и капюшоном',
                    tag: 'sale',
                    price: '34 658 руб.'
                })